html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $backgroundColor;
}

.wrapper {
    max-width: 1300px;
    width: 80%;
    margin: 0 auto;
}

h2,
h3,
p {
    font-family: $mainFont;
}

nav,
button {
    font-family: $secondaryFont;
}

h1 {
    font-size: 2rem;
    color: $themeColor;
    font-family: $secondaryFont;
    margin: 2rem 0;
}

h2,
h3 {
    font-size: 7rem;
    font-weight: 600;
    color: $contentColor;
    margin: 1rem 0;
}

h3 {
    color: $headingColor;
}

a,
p,
span {
    font-size: 1.6rem;
}

p {
    color: $contentColor;
    line-height: 1.5;
}

span {
    color: $themeColor;
}

section {
    margin-top: 5rem;
    padding: 5rem 0;
}

a {
    color: $contentColor;
    transition: all 0.5s ease;
    &:hover {
        color: $themeColor;
    }
    &:focus {
        outline: dashed 2px $themeColor;
    }
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    &:focus,
    &:hover {
        outline: dashed 2px $themeColor;
    }
}

i {
    font-size: 3rem;
    color: $themeColor;
    display: inline-block;
}

.button-link {
    font-family: $secondaryFont;
    display: inline-block;
    border: solid 1px $themeColor;
    border-radius: 4px;
    color: $themeColor;
    padding: 2rem;
    margin: 2rem 0;
    text-align: center;
    &:hover,
    &:focus {
        background-color: $hoverColor;
    }
    &:focus {
        outline: none;
    }
}

main {
    counter-reset: headingCounter;
}

.numbered-heading {
    font-size: 3rem;
    position: relative;
    counter-increment: headingCounter;
    &::after {
        position: absolute;
        content: "";
        width: 430px;
        height: 2px;
        background-color: $headingLineColor;
        top: 18px;
        left: 230px;
    }
    &::before {
        content: "0" counter(headingCounter) ".";
        font-size: 3rem;
        color: $themeColor;
        font-family: $secondaryFont;
        margin-right: 5px;
    }
}

img {
    transition: all 0.5s;
    filter: grayscale(80%);
    &:hover {
        filter: grayscale(0%);
    }
}

.icon-links {
    a {
        font-size: 3rem;
        margin-left: 4rem;
        display: inline-block;
        outline-offset: 3px;
        &:hover i,
        &:focus i {
            color: $themeColor;
            transform: scale(1.2);
        }
        i {
            color: $iconColor;
            transition: all, 0.5s ease;
        }
    }
}

//animation
