// header styling

header {
    min-height: 100vh;
}

.nav-bar {
    background-color: $navy;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    transition: all 0.5s ease;
}

.sticky {
    background-color: $lightNavy;
    position: fixed;
    z-index: 5;
}

.nav-menu ul {
    display: flex;
    counter-reset: listCounter;
}

.nav-menu ul li {
    margin-left: 1.5rem;
    counter-increment: listCounter;
    a {
        color: $lightestSlate;
        padding: 1rem;
        transition: all 0.5s ease;
        &:hover {
            color: $green;
        }
        &:focus {
            border: dashed 2px $green;
        }
        &::before {
            content: "0" counter(listCounter) ".";
            font-size: 1.8rem;
            color: $green;
            margin-right: 5px;
        }
    }
}

.menu-button {
    display: none;
    cursor: pointer;
}

.fas {
    font-size: 3rem;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 6rem);
}

.hello-span {
    font-family: $secondaryFont;
}

.developer-span {
    font-size: 6rem;
}




