// header styling

header {
    height: 100vh;
    position: relative;
}

.logo {
    color: $themeColor;
    transition: all 0.5s ease;
    &:hover {
        transform: scaleX(1.2);
    }
}

.nav-bar {
    background-color: $backgroundColor;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    transition: all 0.5s ease;
}

.sticky {
    background-color: $navColor;
    position: fixed;
    z-index: 5;
}

.nav-menu ul {
    display: flex;
    counter-reset: listCounter;
}

.nav-menu ul li {
    margin-left: 1.5rem;
    counter-increment: listCounter;
    a {
        padding: 1rem;
        &::before {
            content: "0" counter(listCounter) ".";
            font-size: 1.6rem;
            color: $themeColor;
            margin-right: 5px;
        }
    }
}

.menu-button {
    display: none;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 6rem);
}

.hello-span {
    font-family: $secondaryFont;
}

.developer-span {
    font-size: 6rem;
}

.control-button {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    i {
        font-size: 5rem;
    }
}

// .theme-button {
//     right: -40%;
//     bottom: 3rem;
//     i {
//         font-size: 3rem;
//     }
// }

.theme-toggler-container {
    background-color: $backgroundColor;
    width: 45px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 6rem;
    border: solid 2px $contentColor;
    border-radius: 100px;
    input {
        width: 0;
        height: 0;
        visibility: hidden;
        // opacity: 0;
    }

    input:checked + label:after {
        top: -8px;//light
    }

    label {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100%;
        :first-child {
            margin-bottom: 0.8rem;
        }
        i {
            display: block;
            font-size: 2.5rem;
        }
    }
    label:after {
        content: "";
        width: 35px;
        height: 35px;
        border-radius: 100px;
        background-color: white;
        position: absolute;
        top: 27px; //dark
    }
}

//animation
@keyframes arrow {
    0% {
        bottom: 2rem;
    }
    100% {
        bottom: 2.2rem;
    }
}

.arrow-animation {
    animation: arrow 1.5s linear infinite;
}
