// header styling

header {
    height: 100vh;
    position: relative;
}

.logo {
    color:$green;
    transition: all 0.5s ease;
    &:hover {
        transform: scaleX(1.2);
    }
}

.nav-bar {
    background-color: $navy;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    transition: all 0.5s ease;
}

.sticky {
    background-color: $lightNavy;
    position: fixed;
    z-index: 5;
}

.nav-menu ul {
    display: flex;
    counter-reset: listCounter;
}

.nav-menu ul li {
    margin-left: 1.5rem;
    counter-increment: listCounter;
    a {
        padding: 1rem;
        &::before {
            content: "0" counter(listCounter) ".";
            font-size: 1.8rem;
            color: $green;
            margin-right: 5px;
        }
    }
}

.menu-button {
    display: none;  
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 6rem);
}

.hello-span {
    font-family: $secondaryFont;
}

.developer-span {
    font-size: 6rem;
}

.scroll-down-button {
    display: block;
    margin: 0 auto;
    i {
        position: absolute;
        font-size: 5rem;
        cursor: pointer;
    }
}

//animation
@keyframes arrow {
    0% {
        bottom: 2rem;
    }
    100% {
        bottom: 2.2rem;
    }
}

.arrow-animation {
    animation: arrow 1.5s linear infinite;
}

