@media (max-width: 1374px) {
    .about-content {
        justify-content: center;
        align-items: center;
    }
    .about-text {
        width: 80%;
        margin: 0 auto;
    }
    .contact-content {
        width: 100%;
    }
}

@media (max-width: 940px) {
    //general
    .wrapper {
        width: 90%;
    }

    section {
        padding: 6rem 0;
    }

    .numbered-heading {
        font-size: 3rem;
        &::after {
            width: 40%;
            top: 20px;
            left: 220px;
        }
        &::before {
            font-size: 3rem;
        }
    }

    //header
    .nav-bar {
        padding: 2rem 3rem;
    }
    .nav-menu {
        position: fixed;
        height: 100vh;
        background-color: $navColor;
        width: 60%;
        top: 0;
        right: -60%;
        transition: all 0.5s ease;
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        ul li {
            margin: 2rem 0;
        }
    }

    .menu-button {
        display: block;
        cursor: pointer;
        z-index: 10;
    }

    .nav-show {
        right: 0;
        z-index: 9;
    }

    .big-heading {
        font-size: 5rem;
    }

    //project section
    .project-container {
        text-align: center;
        position: relative;
        max-width: 500px;
    }
    .project-image {
        width: 100%;
        min-width: 0;
        opacity: 0.4;
    }

    .image2 {
        display: block;
    }
    .image1,
    .image3 {
        display: none;
    }

    .project-content {
        width: 100%;
        height: 100%;
        max-width: none;
        position: absolute;
        background-color: $projectHoverColor;
        padding: 2rem;
        .project-description {
            margin: 0 auto;
            background-color: transparent;
            p {
                padding: 1rem;
            }
        }
        .skills-used {
            align-self: center;
            margin-bottom: 1rem;
        }

        .icon-links a {
            margin: 0 2rem;
        }
    }
}

@media (max-width: 840px) {
    
    //about section
    .about-content {
        width: 100%;
    }

    //contact section
    .contact-content {
        flex-direction: column;
    }

    .contact-context,
    form {
        width: 80%;
        margin: 0 auto;
    }

    .contact-context {
        a {
            margin: 2rem auto;
        }
        .button-link
          {
            margin: 1rem auto;
        }
        .icon-links {
            margin: 0 auto;
        }
    }
}

@media (max-width: 525px) {
    .image3 {
        display: block;
    }
    .image1,
    .image2 {
        display: none;
    }
}

@media (max-width: 480px) {
    .wrapper {
        width: 95%;
    }

    .nav-bar {
        padding: 2rem 1rem;
    }
    .home-content {
        text-align: center;
    }
    .big-heading {
        font-size: 4rem;
    }
    .numbered-heading {
        font-size: 2rem;
        &::before {
            font-size: 2rem;
        }
        &::after {
            top: 12px;
            left: 160px;
        }
    }
    .project-content {
        .project-heading {
            font-size: 2rem;
        }
        .skills-used {
            li {
                margin: 0.5rem 0 0.5rem 0.5rem;
                font-size: 1.3rem;
            }
        }
    }

    //contact section
    .contact-context,
    form {
        width: 100%;
        input,
        textarea {
            font-size: 1.4rem;
        }
    }
}

@media (max-width: 396px) {
    p,
    a {
        font-size: 1.4rem;
    }
}
