.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: right;
    margin: 8rem auto 0;
}

.project-image {
    width: 50%;
    max-width: 500px;
    min-width: 370px;
    &:hover {
        z-index: 3;
    }
}

.project-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 400px;

    .project-heading {
        font-size: 2.5rem;
        color: $slate;
    }

    .skills-used {
        display: flex;
        color: $lightestSlate;
        font: 1.5rem $secondaryFont;
        align-self: flex-end;
        li {
            margin: 1rem 0 1rem 1rem;
            color: $green;
        }
    }
}

.project-description {
    background-color: $lightestNavy;
    // position: absolute;
    margin-left: -60%;
    z-index: 2;
    p {
        padding: 2rem;
    }
    a {
        color: $lightestSlate;
        text-decoration: underline;
    }
}

.reverse-container {
    flex-direction: row-reverse;
    text-align: left;
    .project-description {
        margin-right: -60%;
        margin-left: 0;
    }

    .skills-used {
        align-self: flex-start;
        li {
            margin-left: 0;
            margin-right: 1rem;
        }
    }

    .icon-links i {
        margin-left: 0;
        margin-right: 2rem;
    }
}
