.skills {
    // margin: 2rem 0;
    .skill-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 3rem auto;
    }
}

.skill-item {
    width: 33%;
    text-align: center;
    display: block;
    p {
        margin: 1rem 0 2rem;
    }
    a {
        color: $slate;
        font-size: 6rem;
        transition: all 0.5s ease;
        display: inline-block;  
        outline-offset: 3px;       
        &:hover, &:focus {
            color: $green;
            transform: scale(1.1);
        }
    }
}
