html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
body,
h1,
h2,
h3,
h4,
h5,
div,
img,
section,
a,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #162129;
}

.wrapper {
  max-width: 1300px;
  width: 80%;
  margin: 0 auto;
}

h2,
h3,
p {
  font-family: "Poppins", sans-serif;
}

nav,
button {
  font-family: "Roboto Mono", monospace;
}

h1 {
  font-size: 2rem;
  color: #a7fab7;
  font-family: "Roboto Mono", monospace;
  margin: 2rem 0;
}

h2,
h3 {
  font-size: 7rem;
  font-weight: 600;
  color: #ccd6f6;
  margin: 1rem 0;
}

h3 {
  color: #a8b2d1;
}

a,
p,
span {
  font-size: 2rem;
}

p {
  color: #ccd6f6;
  line-height: 1.5;
}

span {
  color: #a7fab7;
}

.fas {
  font-size: 2rem;
  color: #a7fab7;
}

.button-link {
  font-family: "Roboto Mono", monospace;
  display: inline-block;
  border: solid 1px #a7fab7;
  border-radius: 4px;
  color: #a7fab7;
  padding: 2rem;
  margin: 2rem 0;
}

.button-link:hover {
  background-color: rgba(100, 255, 218, 0.1);
}

.numbered-heading {
  font-size: 4rem;
  position: relative;
  counter-increment: listCounter;
}

.numbered-heading::after {
  position: absolute;
  content: "";
  width: 430px;
  height: 2px;
  background-color: #233554;
  top: 23px;
  left: 300px;
}

.numbered-heading::before {
  content: "0" counter(listCounter) ".";
  font-size: 4rem;
  color: #a7fab7;
  font-family: "Roboto Mono", monospace;
  margin-right: 5px;
}

img {
  opacity: .6;
  -webkit-transition: all .5s;
  transition: all .5s;
}

img:hover {
  opacity: 1;
}

.overlay {
  background-color: rgba(100, 255, 218, 0.1);
  width: 100%;
  height: 100%;
  position: absolute;
}

.img-hover img:before {
  content: "";
  color: rgba(100, 255, 218, 0.1);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

header {
  min-height: 100vh;
}

.nav-bar {
  background-color: #162129;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sticky {
  background-color: #112240;
  position: fixed;
  z-index: 5;
}

.nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  counter-reset: listCounter;
}

.nav-menu ul li {
  margin-left: 1.5rem;
  counter-increment: listCounter;
}

.nav-menu ul li a {
  color: #ccd6f6;
  padding: 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-menu ul li a:hover {
  color: #a7fab7;
}

.nav-menu ul li a:focus {
  border: dashed 2px #a7fab7;
}

.nav-menu ul li a::before {
  content: "0" counter(listCounter) ".";
  font-size: 2rem;
  color: #a7fab7;
  margin-right: 5px;
}

.menu-button {
  display: none;
  cursor: pointer;
}

.fas {
  font-size: 3rem;
}

.home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 6rem);
}

.hello-span {
  font-family: "Roboto Mono", monospace;
}

.developer-span {
  font-size: 6rem;
}

.about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-text {
  width: 60%;
  margin-top: 3rem;
  margin-right: 5%;
}

.about-text p {
  text-align: justify;
}

.photo-container {
  width: 300px;
  height: 300px;
  margin: 4rem;
  border: solid 2px #a7fab7;
  position: relative;
}

.photo-container img {
  width: 300px;
  position: relative;
}

.photo-container img::before {
  content: "";
  color: rgba(100, 255, 218, 0.1);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 20px;
}

.skills {
  margin: 2rem 0;
}

.skills .skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto;
}

.skill-item {
  width: 33%;
  text-align: center;
  display: block;
}

.skill-item p {
  margin-bottom: 2rem;
}

.skill-item i {
  color: #8892b0;
  font-size: 6rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.skill-item i i:hover {
  color: #a7fab7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1374px) {
  .about-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-text {
    width: 80%;
  }
}

@media (max-width: 940px) {
  .wrapper {
    width: 90%;
  }
  .numbered-heading {
    font-size: 3rem;
  }
  .numbered-heading::after {
    width: 40%;
    top: 20px;
    left: 220px;
  }
  .numbered-heading::before {
    font-size: 3rem;
  }
  .nav-bar {
    padding: 2rem 3rem;
  }
  .nav-menu {
    position: fixed;
    height: 100vh;
    background-color: #112240;
    width: 60%;
    top: 0;
    right: -60%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .nav-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .nav-menu ul li {
    margin: 2rem 0;
  }
  .menu-button {
    display: block;
    cursor: pointer;
    z-index: 10;
  }
  .nav-show {
    right: 0;
  }
  .big-heading {
    font-size: 7vh;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 95%;
  }
  .nav-bar {
    padding: 2rem 1rem;
  }
  .home-content {
    text-align: center;
  }
  .big-heading {
    font-size: 5vh;
  }
}
